$horizontal_indent: 100px;

$color-dark: #0b090a;
$color-alpha: #640709;
$color-beta: #A4161A;
$color-delta: #E5383B;
$color-gamma: #BA181B;
$color-primary: #FFFFFF;
$color-primary-gamma: #D3D3D3;
$color-shadow: #1d1d1d;

$color-text: $color-dark;
$color-button: $color-dark;
$color-img-border: $color-dark;
$color-background: $color-primary-gamma;
$color-header: $color-gamma;
$color-header-border: $color-alpha;
$color-button-text: $color-primary-gamma;
$color-object_type-background: $color-delta;